@menuWidth: 240px;

.ChannelList {
    display: flex;
    .menu {
        width: @menuWidth !important;
        flex-shrink: 0 !important;
        .MuiDrawer-paper {
            width: @menuWidth !important;
        }
    }
    .content {
        flex-grow: 1 !important;
        .loading {
            margin-top: 200px;
            display: flex;
            justify-content: center;
        }
    }
}
